$backgroundColor: rgb(0, 0, 0);
$borderColor: rgb(177, 71, 71);
$buttonColor: rgb(10, 32, 87);
$fontColor: rgb(194, 194, 194);
$inputBackground: rgb(182, 182, 182);
$messageBoxBG: rgb(63, 63, 63);
$modelColorBG: rgb(45, 45, 45);
$hoverBorderColor: rgb(182, 182, 182);
$buttonHoverColor: rgb(32, 87, 227);
