/*  Sign in Component */

/* sign in parent wrapper - 1st div in sign in return */
.signin-parent-wrapper {
display: flex;
justify-content: center;
align-items: center;
height: 70vh;
width: 100%;
}

/* sign in form wrapper - 2nd div in sign in return */
.signin-form-wrapper {
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 2.5rem;
  padding-top: 1rem;
  width: 25rem;
}

/* Sign in header3 */
.signin-header3 {
  text-align: center;
  padding: .5rem;
  letter-spacing: 0.2rem;
  color: rgb(115, 115, 115);
}

/* submit button in sign in form  */
.signin-form button {
  margin-top: 1rem;
  width: 100%;
}

/* inputs in sign in form  */
.signin-form input {
  margin-bottom: 1rem;
 }

 /* labels in sign in form  */
 .signin-form label {
  margin: 0px;
  color: #bbb;
 }
