@import '~bootstrap/scss/bootstrap';
@import './all-styles/colors.scss';

a {
  color: $borderColor;
  text-decoration: none;
  font-weight: bold;
  vertical-align: middle;
  &:hover {
    color: $borderColor;
  }
}
body {
  background-color: $backgroundColor;
  color: $fontColor
}

button {
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border-radius: .3rem;

  &:hover{
    background-color: $buttonHoverColor;
    border-color: $hoverBorderColor;
  }
}

input {
  height: 2rem;
}

.active-users {
  width: 100%;
  margin: 0 !important;
  // height: 40vh;
  // width: 12vw;
  border: 1px solid $borderColor;
  border-radius: 1rem;
}

.all-fields-required {
  font-size: 1rem;
  font-style: italic;
  color: red;
  padding-top: .5rem;
}

.btn, button{
   background-color: $buttonColor;
   color: $fontColor;
 }

 .btn-close {
  background-color: red;
}

.changePass-parent-wrapper {
  background-color: $modelColorBG;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  }
  
  .changePass-form-wrapper {
    background-color: $modelColorBG;
    border-radius: 1rem;
    padding: 2.5rem;
    padding-top: 1rem;
    width: 25rem;
  }
  
  .changePass-header3 {
    text-align: center;
    padding: .5rem;
    letter-spacing: 0.2rem;
    color: rgb(115, 115, 115);
  }
  
  .changePass-form button {
    margin-top: 1rem;
    width: 100%;
  }
  
  .changePass-form input {
    margin-bottom: 1rem;
   }
  
   .changePass-form label {
    margin: 0px;
    color: #bbb;
   }
 
.changePass-modal-title {
  padding:10px;
  position: absolute;
  text-align: center;
  padding: .5rem;
  letter-spacing: 0.2rem;
  color: white;
}

.create-room-button {
  // position: absolute;
  // top: 2vh;
  // left: 17vw;
  height: 42px;
  width: 3vw;
  margin: 5px 5px 0 0;
  float: right;
  padding: 0 0.5rem;
  display: flex;
  align-content: center;
}

.createRoom-modal-title{
  padding:10px;
  position: absolute;
  text-align: center;
  padding: .5rem;
  letter-spacing: 0.1rem; 
  color: white
}

.create-room-span {
  // position: absolute;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
  // top: -8px;
  // right: 0.3rem;
}

.main-container {
  margin: 0 auto !important;
}

.dropdown-username {
  color: white;
  padding: 2px 8px;
  position: relative;
}

.dropdown-menu {
  background-color: $modelColorBG;
  width: 12rem;
}

.dropdown-menu {
  text-align: center !important;
  inset: 0px -12px auto auto !important;
  transform: translate(0px, 43px) !important;
}

.divider {
  margin: 0;
}

.form-control, input {
  background-color: $inputBackground;
  border-color: $fontColor;
  width: 95%;
  margin: 1rem auto 1rem auto;
}

.filler {
  margin-top: 30vh;
  font-size: 30px;
}

.filler-text {
  text-align: center;
  height: 10rem;
}

 /* Header componenet wrapper div */

.header-wrapper {
  background-color: $backgroundColor;
  padding: .5rem;
  font-size: 1.2rem;
  width: 100vw;

}

/* logo wrapper in header 2nd div */
.logo-wrapper{
  margin-left: 1rem;
}


/* Logo text span */
.logo-text {
  border-radius: 10px;
  color: white;
  padding: 0.4rem;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;

}

/* Navbar all links (NavLink) */
.link {
  margin-right: 1rem;
  text-decoration: none;
  color: #777;
  letter-spacing: 0.16vw;
}

/* Links wrapper Login and Register */
.links-group-1 {
  display: flex;
  position: absolute;
  top: 2vh;
  right: 1vw;
}

/* login and register links */
.login, .register{
  color: white;
  margin-left: 1rem;
}

.left-side-options {
  margin: 1rem 0;
  // width: 20%;
}

.left-side-nav {
  height: 30vh;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-right: 0;
  // width: 18vw;
  border: 1px solid $borderColor;
  border-radius: 1rem;
  color: $fontColor;
  overflow-y: scroll;
  padding: 0 !important;
}

.left-side-nav.col-2.col {
  height: 30vh;
  margin: 1rem;
  border: 1px solid $borderColor;
  border-color: $borderColor;
  border-radius: 1rem;
  margin-top: 2rem;
}

/* Logo text span */
.logo-text {
  background-color: $backgroundColor;
  border-radius: 10px;
  color: $fontColor;
  padding: 0.4rem;
  display: inline-block;
  font-size: 1rem;

}

.main-content {
  margin: 1rem 0;
  padding: 0;
  border: 1px solid black;
}

.messages {
  list-style-type: none;
  display: block;
  columns: 1;
}

.message-input {
  width: 90%;
  margin: 0.5rem;
  background: $inputBackground;
  border: 1px solid $inputBackground
}

.message-input-window {
  margin: 1rem;
  border: 1px solid black;
  background-color: #191919;
  padding: 1rem;
  border-radius: 0.5rem;
}

.message-layout {
  display: inline-block;
  justify-content: left;
  margin-left: -1.5rem;
  margin-top: .5rem;
  width: 100%;
}

.message-text {
  display: flex;
  width: 90%;
  
}

.messages-window {
  height: 70vh;
  margin: 1rem;
  // border: 1px solid $borderColor;
  overflow-y: scroll;
  background-color: $messageBoxBG;
  border-radius: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

/*  Modal Companenet */

.modal-body {
  background-color: $modelColorBG;
  border-bottom-right-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  border: 1px solid white;
}

.modal-content{
  // border-top-left-radius: 0.8rem;
  // border-top-right-radius: 0.8rem;
  border-radius: 0.8rem;
  // border: 1px solid white;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  top: 0;
}

.modal-header {
  border-top-right-radius: .6rem;
  border-top-left-radius: .6rem;
  // border-radius: 0.6rem;
  border: 1px solid white;
  padding: 1.5rem;
  background-color: $backgroundColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: $fontColor;
  letter-spacing: 0.16vw;
}

.nav-links-group-1 {
  display: flex;
  position: absolute;
  top: 1vh;
  right: 1vw;
}

.OffCanvas-wrapper {
  width: 22vw;
}

.parent-dropdown-wrapper .nav-link:hover {
background-color: $backgroundColor;
}

.roomsHeader {
  width: 100%;
  // margin: 0.25rem !important;
  padding: 1.5rem 1rem 1rem 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: $backgroundColor;
  display: flex;
  // position: 'fixed';
}

.rooms-div {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
}

.room-top-level {
  width: 100%;
  height: 8vh;
  margin: 0;
}

.room-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
  text-decoration: none;
  // height: 6vh;
  margin-left: 1rem;
  padding-left: 0;
  border-radius: 2px;
  vertical-align: middle;
  
}

.room-list-item {
  display: flex;
  align-items: center;
  width: 100%;
  vertical-align: middle;
  justify-self: flex-start;
  float: left;
  transition: background-color 0.15s ease-in-out;
  height: 5vh;
  padding-left: 1rem;
  &:hover {
    background-color: #191919;
  }
  border-radius: 5px;
}

.room-name {
  text-align: center;
  align-content: center;
}

.room-title  {
  text-align: center;
  float: top;
}

.room-title-alt {
  margin-bottom: -0.5rem;
  color: transparent;
}

.signin-parent-wrapper {
display: flex;
justify-content: center;
align-items: center;
height: 70vh;
width: 100%;
}

/* sign in form wrapper - 2nd div in sign in return */
.signin-form-wrapper {
  background-color: $modelColorBG;
  border-radius: 1rem;
  padding: 2.5rem;
  width: 25rem;
}

/* Sign in header3 */
.signin-header3 {
  text-align: center;
  letter-spacing: 0.2rem;
  color: $fontColor;
}

/* submit button in sign in form  */
.signin-form button {
  margin-top: 1rem;
  width: 100%;
}

/* inputs in sign in form  */
.signin-form input {
  margin-bottom: 1rem;
 }

 /* labels in sign in form  */
 .signin-form label {
  margin: 0px;
  color: $fontColor;
 }
 ///

 /*  Sign up Component */

/* sign up parent wrapper - 1st div in sign up return */
.signup-parent-wrapper {
  background-color: $backgroundColor;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  }
  
  /* sign up form wrapper - 2nd div in sign up return */
  .signup-form-wrapper {
    background-color: $modelColorBG;
    border-radius: 1rem;
    padding: 2.5rem;
    width: 30rem;
  }
  
  /* Sign up header3 */
  .signup-header3 {
    text-align: center;
    letter-spacing: 0.2rem;
    color: $fontColor;
  }
  
  /* submit button in sign up form  */
  .signup-form button {
    margin-top: 1rem;
    width: 100%;
    color: $fontColor;
  }

/* inputs in sign up form  */
  .signup-form input {
   margin-bottom: .7rem;
  }

/* labels in sign up form  */
  .signup-form label {
   margin: 0px;
   color: $fontColor;
  }


.userImage {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  margin-right: 1rem;
  margin-top: 0.25rem;
  float: left;
}

#dropdown-button-drop-end {
  margin-top: .5rem;
  margin-right: -1rem;
}

.user-list {
  width: 100%;
}

.user-list-item {
  display: flex;
  align-items: center;
  height: 5vh;
  margin: 0 0 3vh 0;
}

.user-image {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  margin: 0 1rem 0 0.5rem;
  float: left;
}

.user-name {
  margin: 0 1vw 0 0;
  width: 60%;
  // vertical-align: middle;
}

.user-status {
  vertical-align: middle;
  margin-right: 1rem;
  position: relative;
  right: 0;
  color: green;
}

//************* SCROLL BAR *******************//
::-webkit-scrollbar {
  background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb{
  color: $buttonColor
}

::-webkit-scrollbar-corner {background-color: transparent;}

// .top-row {
//   margin: 0 auto;
// }

// .top-nav {
//   display: flex;
//   align-items: flex-end;
//   justify-content: right;
//   padding: 0;
//   margin: 1rem;
//   border: 1px solid black;
// }

// .nav-link {
//   border: 1px solid black;
//   display: inline-flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: row;
//   margin: 1rem !important;
// }


.modal-content{
  text-align: center;
  width: 70%;
  margin: 0 auto;
  top: 0;
}